@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');


*{
    font-family: 'League Spartan', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.jumbotron{
    background-color: #2EC1AC;
    padding: 50px 100px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.jumbotron img{
    width: 300px;
    margin: 30px;
}

.jumbotron h3, p{
    color: white;
}


.main-container{
    flex-direction:row;
    display:flex;
    justify-content: center;
}

.package-container{
    margin:20px;
    padding:16px;
    border: 3px solid black;
    border-radius: 16px;
    box-shadow: 5px 5px 10px gray;
}

.package-container p{
    color: black;
}

.package-container img{
    width: 300px;
}


button{
    background-color: #5fc8f5;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: none;
}


.left{
    margin-left: 60%
}


table, th,td,tr,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}


th{
    background-color: darkseagreen;
    color: white;
}

.table{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.table img{
    width: 200px;
}

.title{
    text-align: center;
    color: orange;
    margin-bottom: 20px;
    margin-top: 30px;
}


header{
    background-color: #2EC1AC;
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    display: flex;
}

.header-title{
    text-align: left;
    color: white;
    margin: 14px;
    font-size: 18px;
}

nav{
    position: absolute;
    right: 0px;
    display: flex;
}

a{
    text-decoration: none;
    color: white;
    float: left;
    padding: 15px;
}

nav a:hover{
    color:green;
}

button:hover{
    cursor: pointer;
    background-color: rgb(67, 116, 67);
}


footer{
    color: white;
    text-align: center;
    background-color: #2EC1AC;
    padding: 10px;
    margin-top: 50px;
}

.package-container:hover{
    background-color: rgb(211, 234, 239);
}


.formcontainer{
    text-align: center;
    margin-top: 60px;
}

.formcontainer img{
    
    width: 300px;
}

form{
    text-align: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

input{
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
}

label{
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}


select{
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
}


.profile  p{
    color: black;
}

.profile{
    text-align: center;
}

.profile img{
    width: 300px;
}

.profile-text{
    margin: 50px 100px;
    background-color: rgb(160, 246, 170);
    border-radius: 40px;
    padding: 20px;
}

.profile-text h2{
    margin-bottom: 10px;
    color: rgb(169, 110, 1);
}

div.video{
    text-align: center;
    margin-top: 30px;
}

.video h1{
    margin-bottom: 30px;
    color: rgb(236, 175, 21);
}